body{
	
	background-repeat: no-repeat;
	height:100%;
	background-size:cover;
	overflow:auto;
}
.images{
	max-width: 1000px;
	height:500px;
	margin-left:100px;
	margin-right:100px;
    }
.container{
  width: 100%;
  width: inherit;
  height: inherit;
 }
 .navigation{
	background-color:#4C1148;
	background-size: 10px;
	border-radius: 0px;


}
.navigation li{
	list-style-type:none;
	padding:0px;
	margin-right:125px;
	padding-top: 20px;
	text-transform:uppercase;
	text-decoration-style: bold;
	color: #fff;

}
.navigation ul{
	float:center;


}

.navigation a{
	color:#fff;
	font-size:10px;
}
.links{
	height:20px;
	margin-bottom:4px;
}
.carou{
	margin-top: 42px;
}
.navigation a .hriday{
	width: 40px;
	height: 40px;
	margin-left:40px;
	margin-top:-10px;

}
.footer{
	background-color:#000;
	height: 40px;
	width:100%;
	overflow: auto;
}
.togglericon{
   width:30px;
   height:30px;
   margin-top:20px;
 }

 .abt_dropdown_menu {
 	height:150px;
 	width:100px;
    color:#000000;
    background-color:#4C1148;
 }
 .abt_dropdown{
 	color:#4C1148;
 	
}
.nav-item-dropdown{
 	position:relative;
 }



.HRIDAY-info .six .info{
	text-align: justify;
	font-weight: 200;
	color: #fff;
	
	
}
.HRIDAY-info .six h1{
	color: #fff;
}
.box{
	background:#fff;
	background-size:auto;
    margin-top: 40px;
    width:225px;
	border-radius: 2px;
	margin-bottom: 20px;
	height:530px;
	margin-right:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.box input[type="text"], .box input[type="password"], .box input[type="tel"]{
	padding:2px;
	margin:3px;
    text-align: center;
    border-radius: 5px;
	border:5px solid #0B3D5E;
	background: #000;

    
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
 color:#0B3D5E;
 background: #000;
}
.box input[type="submit"]{
    margin-left: 65px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color:#229954;
}
.bars {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 1px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.navtoggler{
	background:#fff;
}
.HRIDAY-info{
  background: #0B3D5E
}